.mainDesk {
    background-color: rgb(233, 201, 212);
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



.mainDesk{

}

.welcomeSect {
    background-color: transparent;

    display: flex;

}

.bodyText {
    width: 65vw;
    margin-left: 18vw;
}


.aboutSect{
    text-align: center;
    
  
    margin: 0;

}

.projectSect{

}

.contactSect{

}