.mainDesk {
    background-color: transparent;
}



.mainDesk{

}

.welcomeSect {
    background-color: transparent;

    display: flex;

}

.aboutSect{
    background-color: lavenderblush;
    text-align: center;
    margin: 0;

}

.projectSect{

}

.contactSect{

}