.banner {
    margin: 0 0 auto;
    margin-left: auto;
    margin-right: auto;
    background-color: lavenderblush;
    display: block;
    box-sizing: inherit;

    
    
  
}

.banned {
    background-color: rgb(184, 119, 141);
    
  

}


.tablist {
    margin-right: 3rem;
    display: inline-block;
    
}
.tabs {
    color: rgb(231, 212, 212);
}

.tabs:hover {
    color: rgb(231, 212, 212);
}
.pagetabs {
    float: right;
    list-style: none;
    margin-top: 0.3rem;
    
}



.homelink {
    margin: 1rem;
    font-weight: bold;
    color: #462c2c;
    
    font-size: 26px;
}
.homelink:hover {
    text-decoration: none;
    color: #462c2c;
    
}

.content {

    width: 65vw;
    margin-left: 18.5vw;
}