.banner {
    margin: 0 0 auto;
    
  
}

.banned {
    background-color: greenyellow;
    
  

}

.tabs {
    margin-right: 1rem;
    display: inline-block;
}

.pagetabs {
    float: right;
    list-style: none;
}